<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'main/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    {% block styles %}{% endblock %}
</head>

<body>
<div class="d-flex flex-column min-vh-100">
    {% include "main/header.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "main/modals.html" %}

    {% include "main/footer.html" %}
</div>

{% load static %}
<script src="{% static 'main/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>

</html>