<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sign up</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      {% if invite_key == "OK" %}
      <!-- Sign up Form -->
      <div class="mt-4">
        {{error}}
      </div>
      <form class="mt-4" method="POST">
        {% csrf_token %}
        <input required type="text" id="full_name" class="fadeIn first" name="full_name" placeholder="full name">
        <select name="faculty" id="faculty" class="fadeIn first">
          <option value="default" selected disabled>Выберите факультет</option>
          <option value="FIT">Информационных технологий</option>
          <option value="FE">Экономический</option>
          <option value="FPE">Энергетический</option>
          <option value="FM">Металургийный</option>
          <option value="FSH">Социально-гуманитарный</option>
          <option value="FMEW">Машиностроения и сварки</option>
          <option value="FTT">Транспортных технологий</option>
          <option value="FELTR">Инженерной и языковой подготовки</option>
        </select>
        <input type="text" id="email" class="fadeIn first" name="email" placeholder="Email">
        <input required type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input required type="password" id="password" class="fadeIn second" name="password" placeholder="password">
        <input type="submit" class="fadeIn third" value="Sign up">
        <input type="hidden" name="invite_key_status" value="{{invite_key}}">
      </form>
      {% else %}
      <div class="mt-4">
        {{error}}
      </div>
      <form class="mt-4" method="POST">
        {% csrf_token %}
        <input required type="text" id="invite_key" class="fadeIn first" name="invite_key" placeholder="Enter your invate key">
        <input type="submit" class="fadeIn third" value="verify">
        <input type="hidden" name="invite_key_status" value="{{invite_key}}">
      </form>
      {% endif %}
    </div>
  </div>
</body>

</html>