<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    {% block styles %}{% endblock %}
</head>

<body>
<header>
    <div class="container-fluid p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <div class="container  d-flex flex-column flex-md-row align-items-center">
            <h5 class="my-0 mr-md-auto font-weight-normal"><a href="http://pstu.edu" style="color:black">PSTU</a></h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/">Home</a>
                {% if username == None %}
                    </nav>
                    <a class="btn btn-outline-primary" href="/login">Sign in</a>
                {% else %}
                    <a class="p-2 text-dark" href="add-rating">Add rating</a>
                    <a class="p-2 text-dark" href="/">{{ username }}</a>
                    </nav>
                    <a class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
                {% endif %}
        </div>
    </div>
</header>
{% block content %}{% endblock %}

<footer class="fixed-bottom w-100 py-4 border-top">
    <div class="container text-center">
      <small>Created by &copy; <a href="http://github.com/HanGerrel">HanGerrel</a></small>
    </div>
</footer>
{% load static %}
<script src="{% static 'main/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}</body>

</html>