{% extends 'main/base.html' %}

{% block title %}
    Student rating
{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/jquery-ui.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <form method="get">

            <div class="row justify-content-around my-2">
                <div class="col-12 col-lg-4">
                    Факультет
                    {{ form.faculty }}
                </div>

                <div class="row col-12 col-lg-4 align-items-baseline">
                    <div>
                        Сессия:
                    </div>
                    <div>
                        {{ form.session }}
                    </div>
                    <div>
                        {{ form.year_picker }}
                    </div>
                </div>

                <div class="float-right">
                    Показать:
                    {{ form.dysplayed }}
                    записей
                </div>
            </div>
        </form>

        <table class="table table-bordered" id="rating-table">
            <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col">ФИО</th>
                <th scope="col">Группа</th>
                <th scope="col">Сессия</th>
                <th scope="col">Доп.баллы</th>
                <th scope="col">Суммарно</th>
                <th scope="col">Стипендия</th>
            </tr>
            </thead>
            <tbody>
            {% for row in page_obj %}
                <tr data-toggle="collapse" data-target="#collapse{{ forloop.counter0 }}" aria-expanded="false"
                    aria-controls="collapse{{ forloop.counter0 }}">
                    <th scope="row" class="text-center">{{ forloop.counter0 | add:page_obj.start_index }}</th>
                    <td id="full_name{{ row.id }}">{{ row.full_name }}</td>
                    <td>{{ row.group }}</td>
                    <td>{{ row.session }}</td>
                    <td>{{ row.extra }}<input type="button" value="+" class="float-right mr-1"
                                              id="{{ row.id }}"
                                              data-toggle="modal"
                                              data-target="#exampleModal" onclick="myFunction(this)">
                    <td>{{ row.total }}</td>
                    <td>N/A</td>
                </tr>

                <tr class="collapse" id="collapse{{ forloop.counter0 }}">
                    <td colspan="7" class="">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <div class="pagination row justify-content-center align-items-baseline mb-5">
            <div class="col-2">
                {% if page_obj.has_previous %}
                    <a href="?page=1">
                        <button class="btn btn-outline-secondary"><<</button>
                    </a>
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <button class="btn btn-outline-secondary"><</button>
                    </a>
                {% endif %}
            </div>
            <div class="col-2">
                {% if page_obj.paginator.num_pages > 1 %}
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                {% endif %}
            </div>
            <div class="col-2">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">
                        <button class="btn btn-outline-secondary">></button>
                    </a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">
                        <button class="btn btn-outline-secondary">>></button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add points</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'upload-certificate' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="container">
                            <div>
                                <i>To add points upload the certificate</i>
                            </div>
                            <div class="mt-3">
                                Student: <input type="text" readonly id="student_fullname">
                                <input type="hidden" name="student_id" id="student_id">
                            </div>
                            <div class="mt-3">
                                Certificate: <input type="file" name="upload_file" ,
                                                    accept="image/jpeg, image/jpg, image/png">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Upload certificate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'main/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'main/js/index.js' %}"></script>
{% endblock %}