{% extends 'main/base.html' %}

{% block title %}
    Student rating
{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/yearpicker.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/jquery-ui.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-around my-2">
            <div class="col-12 col-lg-4">
                Факультет
                <select name="faculty" class="custom-select w-75">
                    <option value="FIT">Информационных технологий</option>
                    <option value="FE">Экономический</option>
                    <option value="FPE">Энергетический</option>
                    <option value="FM">Металургийный</option>
                    <option value="FSH">Социально-гуманитарный</option>
                    <option value="FMEW">Машиностроения и сварки</option>
                    <option value="FTT">Транспортных технологий</option>
                    <option value="FELTR">Инженерной и языковой подготовки</option>
                </select>
            </div>
            <div class="row col-12 col-lg-4 align-items-baseline">
                <div class="mr-3">
                    Сессия:
                </div>
                <div class="mr-3">
                    <input type="radio" name="session" value="summer" checked>
                    <span>summer</span>
                </div>
                <div class="mr-3">
                    <input type="radio" name="session" value="winter" style="margin-right: 2px">
                    <span>winter</span>
                </div>
                <div class="mr-3">
                    <input type="text" class="yearpicker calendar" value="" style="max-width: 75px">
                </div>
            </div>
            <div class="col-12 col-lg-4">
                Поиск:
                <input type="text">
                <input type="button" value="&#128269;">
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ФИО</th>
                <th scope="col">Группа</th>
                <th scope="col">Сессия</th>
                <th scope="col">Доп.баллы</th>
                <th scope="col">Суммарно</th>
                <th scope="col">Стипендия</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Иванов Иван Иванович</td>
                <td>ВТ-20</td>
                <td>87</td>
                <td>10<input type="button" value="+" class="float-right mr-1" data-toggle="modal"
                             data-target="#exampleModal">
                <td>97</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Иванов Иван Иванович</td>
                <td>ВТ-20</td>
                <td>87</td>
                <td>10<input type="button" value="+" style="float: right; margin-right: 2px;">
                <td>97</td>
                <td>N/A</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Иванов Иван Иванович</td>
                <td>ВТ-20</td>
                <td>87</td>
                <td>10<input type="button" value="+" style="float: right; margin-right: 2px;">
                <td>97</td>
                <td>N/A</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add points</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div>
                            To add points upload the certificate
                        </div>
                        <div class="mt-3">
                            Student: <input type="text" readonly value="TEST">
                        </div>
                        <div class="mt-3">
                            Certificate: <input type="file" accept="image/jpeg, image/jpg, image/png">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'main/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'main/js/yearpicker.js' %}"></script>
    <script>
        $('.yearpicker').yearpicker();
    </script>
{% endblock %}