input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 2px solid #333;
    border: 2px solid white;
    width: 14px;
    height: 14px;
}

input[type='radio']:checked {
    background: #333;
}

.calendar {
    background: url('/static/main/images/calendar_today-black-18dp.svg') no-repeat scroll 5px 4px;
    padding-left:30px;
    width: 75px;
}

.session_select {
    margin-right: 15px;
}

a:hover {
    text-decoration: none;
}

ul, ul li {
    list-style: none;
    display: inline;
    padding: 0 5px;
}

.table-details{
    width: 95%;
}

.table-details > thead > tr > th,
.table-details > tbody > tr > th,
.table-details > tfoot > tr > th,
.table-details > thead > tr > td,
.table-details > tbody > tr > td,
.table-details > tfoot > tr > td {
        border: 1px solid black !important;
}

.certificate-modal{
    max-width: 755px;
}