input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 2px solid #333;
    border: 2px solid white;
    width: 14px;
    height: 14px;
}

input[type='radio']:checked {
    background: #333;
}

.calendar {
    background: url('/static/main/images/calendar_today-black-18dp.svg') no-repeat scroll 5px 4px;
    padding-left:30px;
}

.session_select {
    margin-right: 15px;
}